@model IEnumerable<RecipeClasses>

<a class="page-link" asp-action="Index" asp-controller="Home" asp-route-mealTypeId="">Home</a>

@foreach(var rc in Model)
{
    <a class="page-link" asp-action="Index" asp-controller="Home" 
       asp-route-mealTypeId="@rc.RecipeClassId"
       >
        @rc.RecipeClassDescription
    </a>
}